.navigation {
  background-color: rgb(48, 19, 95);
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  color: rgb(159, 137, 182);
}

.activeLink {
  composes: link;
  color: rgb(179, 14, 170);
}
