.searchForm {
  margin: 12px;
}

.inputForm {
  margin-right: 12px;
  width: 250px;
  height: 30px;
}

.buttonForm {
  width: 80px;
  height: 30px;
  border: none;
  background-color: rgb(120, 170, 228);
  border-radius: 5px;
}
